{{define "content"}}
    <std-div>
        <headline>Passwort ändern</headline>
        <standard-form url="/password">
            <standard-input type="password" name="password">
                Altes Passwort
            </standard-input>
            <standard-input type="password" name="newPassword">
                Neues Passwort
            </standard-input>
            <standard-input type="password" name="newPassword2">
                Neues Passwort wiederholen
            </standard-input>
            <submit-button>Passwort ändern</submit-button>
        </standard-form>
        <message text=".Message"></message>
    </std-div>
{{end}}

{{/* use basic */}}