{{define "content"}}
  <std-div>
    <headline>Legislativen Text erstellen</headline>
    <standard-form url="/create-post">
      <standard-select name="selectedAccount" text="Senderaccount" disable="false">
        {{$name := .SelectedAccount}}
        {{range $i, $value := .Accounts}}
          <option value="{{$value.DisplayName}}" {{if eq $value.DisplayName $name}} selected{{end}}>{{$value.DisplayName}}</option>
        {{end}}
      </standard-select>
      <standard-select name="selectedOrganisation" text="Organisation für Veröffentlichung" disable="false">
        {{$orgname := .SelectedAccount}}
        {{range $i, $value := .Organisations}}
          <option value="{{$value.Name}}" {{if eq $value.Name $orgname}} selected{{end}}>{{$value.Name}}</option>
        {{end}}
      </standard-select>
      <standard-input type="text" name="title" value="{{.Title}}">
        Titel
      </standard-input>
      <standard-input type="text" name="subtitle" value="{{.Subtitle}}">
        Untertitel
      </standard-input>
      <standard-input type="text" name="tag" value="{{.Tag}}">
        Erstellungstagbeschreibung
      </standard-input>
      <standard-textarea name="content" text="Legislativer Text">{{.Content}}</standard-textarea>
      <submit-button>Versenden</submit-button>
      <button-for-preview>Vorschau anzeigen</button-for-preview>
    </standard-form>
    <message text=".Message"></message>
    <preview></preview>
  </std-div>
  {{template "markDownScript" "Legislativer Text"}}
{{end}}

{{/* use basic */}}